.buttons {
  margin-top: $s-size;
  flex-shrink: 0;
  width: $width-container-320;
  height: 46px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 360px) {
  .buttons {
    width: $width-container-360;
  }
}

@media (min-width: 600px) {
  .buttons {
    width: $width-container-600;
  }
}
