.button-plus-minus {
  width: 4rem;
  height: 4rem;
  font-size: $m-size;
  text-align: center;
  line-height: 4rem;
  vertical-align: center;
  background: $olive;
  color: white;
  border: 1px solid $olive;
  border-radius: 50%;
}

.button-plus-minus:active {
  color: $olive;
  background: white;
}

.button-plus-minus:hover {
  color: $olive;
  background: white;
}
