.container {
  height: 65%;
  width: $width-container-320;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: $l-size;
}

@media (min-width: 360px) {
  .container {
    width: $width-container-360;
  }
}
@media (min-width: 600px) {
  .container {
    width: $width-container-600;
    height: 80%;
  }
}
