.header {
  text-align: center;
  font-size: $m-size;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  font-size: $s-size;
  font-family: CarterOne;
  flex-shrink: 0;
}
.header h1 {
  margin: 0;
}

.header i {
  color: $olive;
  margin-left: $s-size;
  font-size: 2.5rem;
  height: 4.2rem;
  width: 3.7rem;
  line-height: 6rem;
}
.header i:hover {
  cursor: pointer;
}

.header .little-tomato {
  display: inline-block;
  background: url(../img/tomato-cool.png) no-repeat center center;
  background-size: cover;
  width: 3.7rem;
  height: 4.2rem;
}

@media (min-width: 360px) {
  .header {
    font-size: $m-size;
  }
}
