.tomato-anim {
  background: url(../img/tomato.svg) no-repeat center;
  animation-name: opacity-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  width: 70%;
}

@keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
