// colors
$olive: #3d9970;
//spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$m-big-size: 2.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.5rem;
$width-container-320: 31rem;
// >=360
$width-container-360: 35rem;
//spacing >= 600px
$xxl-size-bp: 9.5rem;
$width-container-600: 42rem;

@font-face {
  font-family: TitanOne;
  src: url(../fonts/TitanOne.ttf);
}

@font-face {
  font-family: CarterOne;
  src: url(../fonts/CarterOne.ttf);
}
